.material-icons {
  font-size: 40px;
  color: #4285F4; /* Warna biru Google */
}
html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Memastikan bahwa konten setidaknya memiliki tinggi viewport */
}

.content {
  flex: 1; /* Membuat elemen konten tumbuh untuk mengambil ruang yang tersisa */
}

footer {
  /* Tambahkan gaya tambahan untuk footer jika diperlukan */
}